body {
  padding: 10px;
  font-family: sans-serif;
}

.iconSize {
  font-size: 2rem;
}

.inputTaskSize,
.listTextSize {
  font-size: 1.5rem !important;
}

.addBtnSize {
  font-size: 1.1rem !important;
}

.errorBox {
  border: 4px solid red !important;
}

.addTaskFrame-top {
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.addTaskFrame-sides {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.addTaskFrame-bottom {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.privateTask {
  cursor: pointer;
}

.taskItem {
  width: 85%;
  display: inline-block;
}

.taskDelete,
.taskRestore {
  float: right;
  cursor: pointer;
}

.salutation {
  display: inline-block;
}